body {
  background-color: black;
}

.container {
  padding: 60px;
  position: relative;
}

.image {
  width: 260px;
  animation-name: animation-demo;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes animation-demo {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);

  }

}
