body {
  background-color: black;
}

.container {
  padding: 60px;
  position: relative;
}

.image {
  width: 260px;
  transition: transform 1s;
  /*transform: perspective(600px) rotateX(45deg);*/
  transform: rotateX(45deg);
}

.images {
  height: 260px;
  width: 788px;
  border: 1px solid #555;
  transition: all 1s;
  perspective: 600px;
}
.image:hover {
  /*transform: perspective(100px) rotateZ(45deg);*/
  /*transform: rotate(15deg);*/
  /*transform: translateX(50px);*/
  /*transform: translateY(50px);*/
  /*transform-origin: right bottom;*/
}
